html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #0E103D;
  position: relative;
  font-family: 'Arvo', 'Cairo', 'Amatic SC', cursive, serif;
}

.details {
  color: white;
}

.profile-link {
  color: #F2D7EE;
  font-size: 12px;
  display: block;
}

.link-heading {
  display: block;
  font-size: 12px;
}

a:hover,
a:visited:hover {
  color: #D3BCC0;
}

a:visited {
  color: #A5668B;
}

.square-one .inner {
  background: #A5668B;
}

.square-two .inner {
  background: #F2D7EE;
}

.square-three .inner {
  background: #69306D;
}

.outer {
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
}


.left {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 340px;
  height: 345px;
  box-sizing: border-box;
  margin: 0 auto;
}

.square {
  position: absolute;
  display: flex;
  height: 240px;
  width: 240px;
  transition: all 10.5s ease-out;
  -webkit-transition: all 10.5s ease-out;
  -moz-transition: all 10.5s ease-out;
}

.inner {
  height: 240px;
  width: 4px;
  margin-right: 8px;
}


.square-one {
  left: 48px;
  top: 55px;
}

.wrap:hover .square-one {
  left: 0;
  top: 0;
}

.square-two {
  left: 52px;
  top: 50px;
}

.square-three {
  left: 56px;
  top: 52px;
}

.wrap:hover .square-three {
  left: 14px;
  top: 104px;
}

img{
  max-width: 100px;
}